<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Fest 2017</title>
</head>
<body>



    <div class="row schedule-event" th:each="s : ${sessions}">
<!--
        &lt;!&ndash; Session Time / Location &ndash;&gt;
        <div class="col-sm-2 col-md-2 session-data">

            &lt;!&ndash; Session Time &ndash;&gt;
            <div class="s-data">
                <span class="session-time black-color">9:00 AM </span>
                <span class="session-time grey-color">9:15 AM</span>
            </div>

            &lt;!&ndash; Session Location &ndash;&gt;
            <span class="session-room">Main Hall</span>

        </div>
-->
        <!-- Session Speaker -->
        <div class="col-sm-3 col-sm-offset-1 col-md-2 session-speaker text-center">
            <th:block th:each="sp : ${s.speakers}">
                <img class="img-responsive col-xs-5" th:src="${sp.imageUrl}" src="images/schedule-speaker-1.jpg" alt="speaker-avatar">
                <h5 class="h5-small" th:text="${sp.name}">Jonathan Barnes</h5>
                <p class="p-small" th:text="${sp.belongTo}">Conference CEO</p>
            </th:block>
        </div>
        <!-- Session Description -->
        <div class="col-sm-7 col-md-8 session-description">
            <!-- Session Title -->
            <h5 class="h5-lg" th:text="${s.title}">Conference check-in & Coffee</h5>
            <a th:href="${'#' + s.id}" class="visible-xs btn btn-info" data-toggle="collapse">詳細をみる</a>
            <div th:attr="id=${s.id}" class="collapse">
                    <pre th:utext="${s.description}">まずは、マイクロサービスとは何か。基本的な考え方を理解しましょう。
その上で、なぜ必要なのか、本当に必要なのか。どうしたら上手くいくのか、失敗するのは何故か。そんなトコロを考えていきましょう。</pre>
            </div>
            <!-- Text -->
            <pre class="hidden-xs" th:utext="${s.description}">Vitae nunc quisque sapien justo aliquet molestie purus. Semper lacus cursus porta,
                feugiat primis vultrice taculis egestas lobortis magna mauris, sodales sapien feugiat
                rabitur nulla sapien lacus sed lacinia
            </pre>
        </div>
    </div>


</body>
</html>